node_modules
.env
dist
*-lock.json
*.log
.DS_Store

# Sesi specific folders and files

data.txt
report.md
research_report.md
tool_call_example.md
*-test.html
main/explain_folder.sesi
model-tests.md
bank
swarm
names
*_site.sesi
sesi-site
folder_analysis.md
index-copy.html
py-scripts
sesi-city
sesi-chat-site
music-and-ai
adv_*.sesi
*/music_and_ai.sesi
aurora*
assets/products
main/create_sesi_chat.sesi
main/consensus.md
main/sesi_practice_guide.md
