node_modules
.env
dist
*-lock.json
*.log
.DS_Store

# Sesi specific folders and files

data.txt
report.md
research_report.md
tool_call_example.md
*-test.html
main/explain_folder.sesi
model-tests.md
bank
swarm
names
*_site.sesi
sesi-site
folder_analysis.md
index-copy.html
